In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('katanaloseis_clean.csv')

FileNotFoundError: ignored

In [ ]:
df['EWS'] = pd.to_datetime(df['EWS']).dt.date
df['APO'] = pd.to_datetime(df['APO']).dt.date
df

,ΠΑΡΟΧΗ,ΠΑΡΟΧΗ_1,ΔΙΕΥΘΥΝΣΗ,ΠΕΡΙΟΧΗ,ΔΗΜΟΣ,ΤΙΜΟΛΟΓΙΟ,ΜΕΤΡΗΤΗΣ,ΔΙΑΜΕΤΡΟΣ,METRHTHS,T1,APO,EWS,DAYS,KYB
0,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2022-07-05,2022-10-03,91.47,34
1,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2022-04-05,2022-07-04,91.72,94
2,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2022-01-11,2022-04-04,84.50,100
3,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2021-10-02,2022-01-10,101.32,76
4,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2021-06-30,2021-10-01,94.38,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87096,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2015-01-01,2015-12-31,365.00,800
87097,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2014-01-01,2014-12-31,365.00,724
87098,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2013-01-01,2013-12-31,365.00,533
87099,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2012-01-01,2012-12-31,366.00,427
87100,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2011-01-01,2011-12-31,365.00,567

In [ ]:
df['Average'] = df['KYB']/df['DAYS']
df

,ΠΑΡΟΧΗ,ΠΑΡΟΧΗ_1,ΔΙΕΥΘΥΝΣΗ,ΠΕΡΙΟΧΗ,ΔΗΜΟΣ,ΤΙΜΟΛΟΓΙΟ,ΜΕΤΡΗΤΗΣ,ΔΙΑΜΕΤΡΟΣ,METRHTHS,T1,APO,EWS,DAYS,KYB,Average
0,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2022-07-05,2022-10-03,91.47,34,0.371707
1,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2022-04-05,2022-07-04,91.72,94,1.024858
2,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2022-01-11,2022-04-04,84.50,100,1.183432
3,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2021-10-02,2022-01-10,101.32,76,0.750099
4,5123,ΔΗΜΟΣ ΑΘΗΝΑΙΩΝ / EN:ΕΝΙΑΙΟ ΕΙΔ ΕΠΑΓΓ ΓΥΜΝ - Λ...,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,ΨΥΡΡΗ,ΑΘΗΝΑΙΩΝ,Δ1,Α10Δ02253,5/8,Α10Δ02253,Πραγμ.,2021-06-30,2021-10-01,94.38,38,0.402628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87096,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2015-01-01,2015-12-31,365.00,800,2.191781
87097,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2014-01-01,2014-12-31,365.00,724,1.983562
87098,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2013-01-01,2013-12-31,365.00,533,1.460274
87099,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2012-01-01,2012-12-31,366.00,427,1.166667
87100,8817973,ΔΗΜΟΣ ΚΗΦΙΣΙΑΣ / EN:7Ο ΔΗΜΟΤΙΚΟ ΣΧΟΛΕΙΟ ΚΗΦΙΣΙΑΣ,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,ΠΟΛΙΤΕΙΑ,ΚΗΦΙΣΙΑΣ,Β1Ε,10731,5/8,10731,Πραγμ.,2011-01-01,2011-12-31,365.00,567,1.553425

In [ ]:
months_df = pd.DataFrame()
months_df["School"] = []
months_df["Month"] = []
months_df["Monthly Consumption"] = []
months_df

Empty DataFrame
Columns: [School, Month, Monthly Consumption]
Index: []

In [ ]:
from datetime import datetime as dt

def get_months(n):

  lst = [dt.strptime('%2.2d-%2.2d' % (y, m), '%Y-%m').strftime('%b-%y') \
       for y in range(df['APO'][n].year, df['EWS'][n].year+1) \
       for m in range(df['APO'][n].month if y==df['APO'][n].year else 1, df['EWS'][n].month+1 if y == df['EWS'][n].year else 13)]
  
  return lst

month_timeseries = []

In [ ]:
import warnings
warnings.filterwarnings("ignore")
for ind in df.index:
  months = get_months(ind)
  i = 0
  start_days = df["APO"][ind].day
  end_days = df["EWS"][ind].day
  first_month = pd.Period(str(months[0])).days_in_month
  consumption = (first_month - start_days) * df["Average"][ind]
  df2 = {'School': df["ΔΙΕΥΘΥΝΣΗ"][ind], 'Month': months[0], 'Monthly Consumption': consumption}
  months_df = months_df.append(df2, ignore_index = True)
  for month in months[1:-1]:
    school = df["ΔΙΕΥΘΥΝΣΗ"][ind]
    month = month
    mnth = pd.Period(str(months[i])).days_in_month
    consumption = mnth * df["Average"][ind]
    df2 = {'School': school, 'Month': month, 'Monthly Consumption': consumption}
    months_df = months_df.append(df2, ignore_index = True)
    i = i+1
  consumption = end_days * df["Average"][ind]
  df2 = {'School': df["ΔΙΕΥΘΥΝΣΗ"][ind], 'Month': months[-1], 'Monthly Consumption': consumption}    
  months_df = months_df.append(df2, ignore_index = True)

In [ ]:
months_df['ID'] = months_df.groupby(['School'], sort=False).ngroup() + 1

In [ ]:
for ind in months_df.index:
  months_df["Monthly Consumption"][]
  months = get_months(ind)
  i = 0
  start_days = df["APO"][ind].day
  end_days = df["EWS"][ind].day
  first_month = pd.Period(str(months[0])).days_in_month
  consumption = (first_month - start_days) * df["Average"][ind]
  df2 = {'School': df["ΔΙΕΥΘΥΝΣΗ"][ind], 'Month': months[0], 'Monthly Consumption': consumption}
  months_df = months_df.append(df2, ignore_index = True)
  for month in months[1:-1]:
    school = df["ΔΙΕΥΘΥΝΣΗ"][ind]
    month = month
    mnth = pd.Period(str(months[i])).days_in_month
    consumption = mnth * df["Average"][ind]
    df2 = {'School': school, 'Month': month, 'Monthly Consumption': consumption}
    months_df = months_df.append(df2, ignore_index = True)
    i = i+1
  consumption = end_days * df["Average"][ind]
  df2 = {'School': df["ΔΙΕΥΘΥΝΣΗ"][ind], 'Month': months[-1], 'Monthly Consumption': consumption}    
  months_df = months_df.append(df2, ignore_index = True)

In [ ]:
months_df

,School,Month,Monthly Consumption,ID
0,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Jul-22,9.664371,1
1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Aug-22,11.522904,1
2,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Sep-22,11.522904,1
3,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Oct-22,1.115120,1
4,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Apr-22,25.621457,1
...,...,...,...,...
348315,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Aug-11,48.156164,1586
348316,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Sep-11,48.156164,1586
348317,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Oct-11,46.602740,1586
348318,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Nov-11,48.156164,1586
348319,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Dec-11,48.156164,1586

In [23]:
from google.colab import files

months_df.to_csv('monthly_consumption_per_school.csv', encoding = 'utf-8-sig') 
files.download('monthly_consumption_per_school.csv')

NameError: ignored

In [45]:
monthly_df = pd.read_csv('montlh_cons.csv')
monthly_df['ID'] = monthly_df.groupby(['School'], sort=False).ngroup() + 1
monthly_df

,Unnamed: 0,School,Month,Monthly Consumption,ID
0,0,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Jul-22,9.664371,1
1,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Aug-22,11.522904,1
2,2,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Sep-22,11.522904,1
3,3,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Oct-22,1.115120,1
4,4,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Apr-22,25.621457,1
...,...,...,...,...,...
348315,348315,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Aug-11,48.156164,1586
348316,348316,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Sep-11,48.156164,1586
348317,348317,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Oct-11,46.602740,1586
348318,348318,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Nov-11,48.156164,1586
348319,348319,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Dec-11,48.156164,1586

In [43]:
monthly_df

,Unnamed: 0,School,Month,Monthly Consumption,ID
0,0,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,"(1900, 7, 22, 0, 0, 0, 6, 203, -1)",9.664371,1
1,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Aug-22,11.522904,1
2,2,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Sep-22,11.522904,1
3,3,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Oct-22,1.115120,1
4,4,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Apr-22,25.621457,1
...,...,...,...,...,...
348315,348315,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Aug-11,48.156164,1586
348316,348316,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Sep-11,48.156164,1586
348317,348317,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Oct-11,46.602740,1586
348318,348318,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Nov-11,48.156164,1586
348319,348319,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Dec-11,48.156164,1586

In [63]:
groups = monthly_df.groupby(['ID', 'School', 'Month'])['Monthly Consumption'].sum().reset_index()
groups['Month'] = pd.to_datetime(groups['Month'], format='%b-%y')
groups = groups.sort_values(['ID','Month'])
groups['Month'] = groups['Month'].dt.strftime('%Y-%m')
groups

,ID,School,Month,Monthly Consumption
36,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,2015-07,9.377442
7,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,2015-08,6.898571
80,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,2015-09,6.898571
72,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,2015-10,25.001906
65,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,2015-11,42.404944
...,...,...,...,...
224617,1586,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,2021-08,41.106849
224727,1586,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,2021-09,41.106849
224716,1586,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,2021-10,39.780822
224705,1586,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,2021-11,41.106849
224628,1586,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,2021-12,41.106849

In [26]:
monthly_df

,Unnamed: 0,School,Month,Monthly Consumption,ID
0,0,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Jul-22,9.664371,1
1,1,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Aug-22,11.522904,1
2,2,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Sep-22,11.522904,1
3,3,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Oct-22,1.115120,1
4,4,ΛΕΩΚΟΡΙΟΥ 35 Δήμος ΑΘΗΝΑΙΩΝ ΤΚ 10553,Apr-22,25.621457,1
...,...,...,...,...,...
348315,348315,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Aug-11,48.156164,1586
348316,348316,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Sep-11,48.156164,1586
348317,348317,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Oct-11,46.602740,1586
348318,348318,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Nov-11,48.156164,1586
348319,348319,ΠΟΛΙΤΕΙΑΣ 0 Δήμος ΚΗΦΙΣΙΑΣ ΤΚ 14563,Dec-11,48.156164,1586

In [64]:
groups.to_csv('groups.csv', encoding = 'utf-8-sig') 
files.download('groups.csv')